@media screen and (min-width: 767px) {

  h3{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.5483;
    letter-spacing: -0.0206rem;
  }

  p{
    font-size: 0.875rem;
  }

  li > label{
    font-size: 0.875rem;
  }

  .category-display{
    font-size: 0.875rem;
  }

  .back-link{
    margin-top: 3.625rem;
    margin-bottom: 4.25rem;
    font-size: 0.875rem;
  }

  .form-container{
    width: 33.75rem;
    padding-top: 3.25rem;
  }

  .link-container{
    width: 33.75rem;
  }

  .new-feedback{
    width: 3.5rem;
    height: 3.5rem;
    top: -1.75rem;
    left: 2.625rem;
  }

  .center-items{
    margin: 0 2.625rem;
  }

  .center-items > label{
    font-size: 0.875rem;
  }

  .action-btns{
    padding: 2rem 0 2.5rem 0;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }

  .action-btns > button{
    width: fit-content;
    padding: 0 1.5rem;
    margin: 0;
    font-size: 0.875rem;
    height: 2.75rem;
  }

  .purple{
    order: 2;
  }

  .dark-blue{
    order: 1;
  }

  .outline-error{
    font-size: 0.875rem;
  }
}