@media screen and (min-width: 767px) {
  
  textarea{
    font-size: 0.9375rem;
  }

  .user-details{
    margin-left: 2rem;
  }

  .user-details > p{
    font-size: 0.875rem;
  }

  .user-container{
    margin-bottom: 1rem;
  }

  .comment{
    font-size: 0.9375rem;
    padding-left: 2.75rem;
    margin-left: 1.75rem;
    border-left: 1px solid #6471961A;
  }

  .reply{
    font-size: 0.9375rem;
    padding-left: 4.5rem;
  }

  .reply-loop:nth-of-type(2){
    margin-top: 0;
    padding-top: 1.75rem;
  }

  .reply-loop{
    margin-left: 1.75rem;
  }

  .reply-container{
    padding-left: 7.75rem;
  }

  .app-comment-container{
    padding-top: 2rem;
  }
}