<div class="user-container">
  <div class="user-profile">
    <img src="" src="{{comment.imageUrl}}" alt="Profile picture of {{comment.name}}">
    <div class="user-details">
      <p class="user-name">{{comment.name}}</p>
      <p class="username">{{comment.username}}</p>
    </div>
  </div>
  <button class="reply-btn">Reply</button>
</div>
<p class="comment">{{comment.comment}}</p>
<div class="reply-loop">

</div>
<!--<div class="reply-container">
  <textarea name="" id="" cols="30" rows="10" #replyArea></textarea>
  <button class="purple">Post Reply</button>
</div>-->