<div class="back-and-edit">
  <a class="back-link" routerLink="/">Go Back</a>
  <button class="blue edit-btn" *ngIf="isLoggedIn" (click)="editFeedback()">Edit Feedback</button>
</div>
<app-feedback [feedback]="feedback" [commentCounter]="commentCounter"></app-feedback>

<div class="display-comments">
  <h3 [ngStyle]="comments.length === 0 ? {'padding-bottom': '1rem'} : {}">{{commentCounter}} Comments</h3>

  <app-comment *ngFor="let comment of comments; index as i" [comment]="comments[i]" (commentCountEvent)="commentCounter"></app-comment>

</div>

<div class="comment-container">
  <h5 class="disable-comment" *ngIf="!isLoggedIn"><a routerLink="/signin">Log in</a>&nbsp;to comment.</h5>
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()" class="inner-comment">
    <h3>Add Comment</h3>
    <textarea name="details" id="details" rows="3" placeholder="Type your comment here" maxlength="250" (input)="countValue($event)" required formControlName="comment"></textarea>
    <div class="count-and-post">
      <p>{{characterCount}} Characters left</p>
      <button type="submit" class="purple"[disabled]="!commentForm.valid">Post Comment</button>
    </div>
  </form>
</div>
