.brand-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left:  1.5rem;
  user-select: none;
}

h6{
  color: #FFFFFF;
  letter-spacing: -0.19px;
}

p{
  color: #FFFFFFBF; 
  width: fit-content;
  font-weight: 400;
}