<div class="top-container">
  <div class="back-and-title">
    <a class="back-link" routerLink="../">Go Back</a>
    <h3>Roadmap</h3>
  </div>
  <button class="purple" (click)="addFeedback()">Add Feedback</button>
</div>

<ul class="status-container">
  <li>
    <input type="radio" name="status" id="planned" checked hidden (click)="selectStatus('planned', plannedDiv, inProgressDiv, liveDiv)">
    <label for="planned">Planned ({{planned.length}})</label>
  </li>
  <li>
    <input type="radio" name="status" id="inProgress" hidden (click)="selectStatus('in-progress', plannedDiv, inProgressDiv, liveDiv)">
    <label for="inProgress">In-Progress ({{inProgress.length}})</label>
  </li>
  <li>
    <input type="radio" name="status" id="live" hidden (click)="selectStatus('live', plannedDiv, inProgressDiv, liveDiv)">
    <label for="live">Live ({{live.length}})</label>
  </li>
</ul>

<div class="flex-feedback">
  <div class="roadmap-feedback roadmap" #plannedDiv>
    <h3>Planned ({{planned.length}})</h3>
    <p>Ideas prioritized for research</p>
    <div class="roadmap-feedbacks">
      <app-feedback *ngFor="let feedback of planned; index as i" [feedback]="planned[i]"></app-feedback>
    </div>
  </div>
  <div class="roadmap-feedback roadmap hidden" #inProgressDiv>
    <h3>In-Progress ({{inProgress.length}})</h3>
    <p>Currently being developed</p>
    <div class="roadmap-feedbacks">
      <app-feedback *ngFor="let feedback of inProgress; index as i" [feedback]="inProgress[i]"></app-feedback>
    </div>
  </div>
  <div class="roadmap-feedback roadmap hidden" #liveDiv>
    <h3>Live ({{live.length}})</h3>
    <p>Released features</p>
    <div class="roadmap-feedbacks">
      <app-feedback *ngFor="let feedback of live; index as i" [feedback]="live[i]"></app-feedback>
    </div>
  </div>
</div>