.ham-container{
  position: absolute;
  right: 0;
  top: 0;
  width: 3.75rem;
  height: 4.5rem;
}

.hamburger{
  background-image: url('../assets/shared/mobile/icon-hamburger.svg');
  background-size: cover;
  border-radius: 0;
  height: 1.0625rem;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1.5rem;
  top: 1.6875rem;
  width: 1.25rem;
  z-index: 100;
}
.hamburger.toggle{
  background-image: url('../assets/shared/mobile/icon-close.svg');
}

.nav-container{
  background-color: #00000040;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -100;
}
.nav-container.toggle{
  height: 0;
  display: none;
}
.inner-nav-container{
  background-color: var(--F2F4FF-color);
  height: 100%;
  margin-left: auto;
  right: 0;
  position: absolute;
  width: 72.23%;
  z-index: -99;
}