<header>
  <app-brand></app-brand>
</header>
<nav>
  <a class="ham-container" (click)="toggleNavigation()">
    <svg class="hamburger toggle"></svg>
  </a>
  <div class="nav-container toggle" ToggleNav>
    <div class="inner-nav-container">
      <div>
        <app-category></app-category>
        <app-road-map></app-road-map>
      </div>
      <div>
        <app-authentication></app-authentication>
      </div>
    </div>
  </div>
</nav>
<main>
  <app-sort-and-filter></app-sort-and-filter>
  <div *ngIf="feedbacks">
    <app-feedback *ngFor="let feedback of feedbacks; index as i" [feedback]="feedbacks[i]"></app-feedback>
  </div>
  <app-no-feedback *ngIf="feedbacks.length === 0"></app-no-feedback>
</main>
