<div class="sort-and-filter-container">
  <div class="inner-container">
    <div class="sort-container">
      <h3 *ngIf="feedbacks.length === 1">{{feedbacks.length}} Suggestion</h3>
      <h3 *ngIf="feedbacks.length !== 1">{{feedbacks.length}} Suggestions</h3>
      <div class="select-sort">
        <ul class="sort-button toggle" ToggleOptions>
          <li>
            <input type="radio" name="sort" value="0" id="most-upvotes" (change)="selectAndClose($event)" [checked]="sortSelected === 'Most Upvote'">
            <label for="most-upvotes" (click)="closed()"><span>Most Upvotes</span></label>
          </li>
          <li>
            <input type="radio" name="sort" value="1" id="least-upvotes" (change)="selectAndClose($event)" [checked]="sortSelected === 'Least Upvote'">
            <label for="least-upvotes" (click)="closed()"><span>Least Upvotes</span></label>
          </li> 
          <li>
            <input type="radio" name="sort" value="2" id="most-comments" (change)="selectAndClose($event)" [checked]="sortSelected === 'Most Comment'">
            <label for="most-comments" (click)="closed()"><span>Most Comments</span></label>
          </li>
          <li>
            <input type="radio" name="sort" value="3" id="least-comments" (change)="selectAndClose($event)" [checked]="sortSelected === 'Least Comment'">
            <label for="least-comments" (click)="closed()"><span>Least Comments</span></label>
          </li>
        </ul>
        <span>Sort by :&nbsp;<span class="value">{{sortSelected}}</span></span>
        <svg class="down-arrow"></svg>
      </div>
    </div>
    <a class="purple" routerLink="/feedback/create"><svg class="plus-icon"></svg>&nbsp;Add Feedback</a>
  </div>
</div>
