<div class="feedback-container" (mouseover)="hoverColor(feedbackTitle)" (mouseout)="regularColor(feedbackTitle)">
  <div class="feedback-inner-container">
    <h4 #feedbackTitle>{{feedback.title}}</h4>
    <p>{{feedback.details}}</p>
    <button (click)="filter()">{{feedback.category}}</button>
    <div class="counts">
      <div class="upvote-container">
        <input type="checkbox" [checked]="upvoteIsChecked" [disabled]="!isLoggedIn">
        <label (click)="toggleUpvote()">
          <svg class="up-arrow"></svg>{{feedback.upvotes?.length}}</label>
      </div>
      <div class="comment-container">
        <img src="../../../../assets/shared/icon-comments.svg" alt="Number of Comments">
        <span>2</span>
      </div>
    </div>
  </div>
</div>
