<div class="road-map-container">
  <div class="center-table">
    <div class="road-map">
      <h3>Roadmap</h3> 
      <a routerLink="roadmap"
        ><p>View</p>
      </a>
    </div>
    <table>
      <tr>
        <td>
          <div  class="planned"></div><h5>Planned</h5>
        </td>
        <td>
          <h5>0</h5>
        </td>
      </tr>
      <tr>
        <td>
          <div class="in-progress"></div><h5>In-Progress</h5>
        </td>
        <td>
          <h5>0</h5>
        </td>
      </tr>
      <tr>
        <td>
          <div class="live"></div><h5>Live</h5>
        </td>
        <td>
          <h5>0</h5>
        </td>
      </tr>
    </table>
  </div>
</div>
