a{
  justify-self: end;
  align-self: end;
}

h3{
  color: var(--3A4374-color);
}

p{
  display: inline-flex;
}

table{
  margin: auto;
  width: 78.54%;
}

td{
  color: var(--647196-color);
}

td:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 1rem;
}

tr > th{
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.road-map{
  display: flex;
  justify-content: space-between;
  width: 78.54%;
  margin: 0 auto;
}

.road-map-container{
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 1.5rem auto 0 auto;
  padding: 1.5rem 0 2.25rem 0;
  width: 82.29%;
}

.center-table{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.planned{
  height: 8px;
  width: 8px;
  background-color: var(--F49F85-color);
  border-radius: 100%;
}

.in-progress{
  height: 8px;
  width: 8px;
  background-color: var(--AD1FEA-color);
  border-radius: 100%;
}

.live{
  height: 8px;
  width: 8px;
  background-color: var(--62BCFA-color);
  border-radius: 100%;
}