@media screen and (min-width: 767px) {
  .brand-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    margin-left:  1.5rem;
    padding: 1rem 0;
    user-select: none;
  }

  h6{
    font-size: 1.25rem;
    line-height: 1.45;
    letter-spacing: -0.0156rem;
  }

  strong{
    font-weight: var(--bold);
  }

  p{
    font-size: 0.9375rem;
  }
}