/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

:root{
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --h4-font-size: 0.875rem;
  --h5-font-size: 1rem;
  --h6-font-size: 0.9375rem;
  --p-font-size: 0.8125rem;
  --h1-line-height: 1.46;
  --h2-line-height: 1.45;
  --h3-line-height: 1.44;
  --h4-line-height: 1.43;
  --h5-line-height: 1.44;
  --h6-line-height: 1.47;
  --p-line-height: 1.46;
  --bold: 700;
  --regular: 400;
  --semi-bold: 600;
  --AD1FEA-color: #AD1FEA;
  --4661E6-color: #4661E6;
  --FFFFFF-color: #FFFFFF; 
  --F2F4FF-color: #F2F4FF;
  --F7F8FD-color: #F7F8FD;
  --3A4374-color: #3A4374;
  --647196-color: #647196;
  --F49F85-color: #F49F85;
  --62BCFA-color: #62BCFA;
  --button-text: #F2F4FE;
}

*{
  margin: 0;
  padding: 0;
}

a.back-link{
  display: inline-flex;
  justify-content: space-between;
  font-size: 0.8125rem;
  font-weight: var(--bold);
  margin-bottom: 2.5rem;
  margin-top: 2.125rem;
  text-decoration: none;
  color: #647196;
}

a.back-link::before{
  content: url('../assets/shared/icon-arrow-left.svg');
  margin-right: 1rem;
}

a.back-link:hover{
  text-decoration: underline;
}

button, input, select, textarea {
  font-family : inherit;
  font-size : 100%;
  appearance: none;
  width: 100%;
}

button{
  cursor: pointer;
  color: #F2F4FE;
  font-weight: var(--bold);
  font-size: 0.8125rem;
  border: 0;
  border-radius: 10px;
}

button:disabled{
  cursor: default;
  background-color: lightgray;
}

button:disabled:hover{
  cursor: default;
  background-color: lightgray;
}

body{
  font-family: 'Jost', sans-serif;
  background-color: var(--F7F8FD-color);
}

p{
  color: #647196;
}

h1, h2, h3, h4, h5, h6 {
  color: #3A4374;
}

h1{
  font-size: var(--h1-font-size);
  font-weight: var(--bold);
  line-height: var(--h1-line-height);
  letter-spacing: -0.0138em;
}
h2{
  font-size: var(--h2-font-size);
  font-weight: var(--bold);
  line-height: var(--h2-line-height);
  letter-spacing: -0.0125em;
}
h3{
  font-size: var(--h3-font-size);
  font-weight: var(--bold);
  line-height: var(--h3-line-height);
  letter-spacing: -0.0139em;
}
h4{
  font-size: var(--h4-font-size);
  font-weight: var(--bold);
  line-height: var(--h4-line-height);
  letter-spacing: -0.0143em;
}
h5{
  font-size: var(--h5-font-size);
  font-weight: var(--regular);
  line-height: var(--h5-line-height);
}
h6{
  font-size: var(--h6-font-size);
  font-weight: var(--regular);
  line-height: var(--h6-line-height);
}
p{
  font-size: var(--p-font-size);
  font-weight: var(--semi-bold);
  line-height: var(--p-line-height);
}

input{
  background-color: var(--F7F8FD-color);
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 0.8125rem;
  font-weight: var(--regular);
  height: 3rem;
  margin-top: 1rem;
  padding: 0 1rem;
}

input[type="text"]:focus, textarea:focus, input[type="password"]:focus{
  outline: 1px solid #4661E6;
}

input[type="text"]:required:focus, textarea:user-invalid, input[type="password"]:user-invalid{
  outline: 1px solid red;
}

.purple{
  background-color:var(--AD1FEA-color);
  color: var(--button-text);
}
.purple:hover{
  background-color: #C75AF6;
}

.blue{
  background-color: var(--4661E6-color);
  color: var(--button-text);
}
.blue:hover{
  background-color: #7C91F9;
}

.dark-blue{
  background-color: var(--3A4374-color);
  color: var(--button-text);
}
.dark-blue:hover{
  background-color: #656EA3;
}

.red{
  background-color: #D73737;
  color: var(--button-text);
}
.red:hover{
  background-color: #E98888;
}

.outline-error{
  color: #D73737;
  font-size: 0.875rem;
  font-weight: var(--regular);
}