/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

:root{
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --h4-font-size: 0.875rem;
  --h5-font-size: 1rem;
  --h6-font-size: 0.9375rem;
  --p-font-size: 0.8125rem;
  --h1-line-height: 1.5rem;
  --h2-line-height: 1.25rem;
  --h3-line-height: 1.125rem;
  --h4-line-height: 0.875rem;
  --h5-line-height: 1rem;
  --h6-line-height: 0.9375rem;
  --p-line-height: 0.8125rem;
  --bold: 700;
  --regular: 400;
  --semi-bold: 600;
  --AD1FEA-color: #AD1FEA;
  --4661E6-color: #4661E6;
  --FFFFFF-color: #FFFFFF; 
  --F2F4FF-color: #F2F4FF;
  --F7F8FD-color: #F7F8FD;
  --3A4374-color: #3A4374;
  --647196-color: #647196;
  --F49F85-color: #F49F85;
  --62BCFA-color: #62BCFA;
  --button-text: #F2F4FE;
}

*{
  border: 0;
  margin: 0;
}

body{
  font-family: 'Jost', sans-serif;
}

h1{
  font-size: var(--h1-font-size);
  font-weight: var(--bold);
  line-height: var(--h1-line-height);
  letter-spacing: 0.33px;
}
h2{
  font-size: var(--h2-font-size);
  font-weight: var(--bold);
  line-height: var(--h2-line-height);
  letter-spacing: -0.25px;
}
h3{
  font-size: var(--h3-font-size);
  font-weight: var(--bold);
  line-height: var(--h3-line-height);
  letter-spacing: -0.25px;
}
h4{
  font-size: var(--h4-font-size);
  font-weight: var(--bold);
  line-height: var(--h4-line-height);
  letter-spacing: -0.2px;
}
h5{
  font-size: var(--h5-font-size);
  font-weight: var(--regular);
  line-height: var(--h5-line-height);
}
h6{
  font-size: var(--h6-font-size);
  font-weight: var(--regular);
  line-height: var(--h6-line-height);
}
p{
  font-size: var(--p-font-size);
  font-weight: var(--semi-bold);
  line-height: var(--p-line-height);
}

button{
  border-radius: 10px;
  box-sizing: content-box;
  font-size: var(--size-14);
  padding: 0.875rem 1.5625rem;
}

.purple{
  background-color:var(--AD1FEA-color);
  color: var(--button-text);
}
.purple:hover{
  background-color: #C75AF6;
}

.blue{
  background-color: var(--4661E6-color);
  color: var(--button-text);
}
.blue:hover{
  background-color: #7C91F9;
}

.dark-blue{
  background-color: var(--3A4374-color);
  color: var(--button-text);
}
.dark-blue:hover{
  background-color: #656EA3;
}

.red{
  background-color: #D73737;
  color: var(--button-text);
}
.red:hover{
  background-color: #E98888;
}
