/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

:root{
  --size-24: 1.5rem;
  --size-16: 1rem;
  --size-35: 2.1875rem;
  --size-20: 1.25rem;
  --size-29: 1.8125rem;
  --size-18: 1.125rem;
  --size-26: 1.625rem;
  --size-14: 0.875rem;
  --size-23: 1.4375rem;
  --size-15: 0.9375rem;
  --size-22: 1.375rem;
  --size-13: 0.8125rem;
  --size-19: 1.1875rem;
  --bold: 700;
  --regular: 400;
  --semi-bold: 600;
  --AD1FEA-color: #AD1FEA;
  --4661E6-color: #4661E6;
  --FFFFFF-color: #FFFFFF; 
  --F2F4FF-color: #F2F4FF;
  --F7F8FD-color: #F7F8FD;
  --3A4374-color: #3A4374;
  --647196-color: #647196;
  --F49F85-color: #F49F85;
  --62BCFA-color: #62BCFA;
  --button-text: #F2F4FE;
}

*{
  border: 0;
  margin: 0;
}

body{
  font-family: 'Jost', sans-serif;
}

h1{
  font-size: var(--size-24);
  font-weight: var(--bold);
  letter-spacing: 0.33px;
}
h2{
  font-size: var(--size-20);
  font-weight: var(--bold);
  letter-spacing: -0.25px;
}
h3{
  font-size: var(--size-18);
  font-weight: var(--bold);
  letter-spacing: -0.25px;
}
h4{
  font-size: var(--size-14);
  font-weight: var(--bold);
  letter-spacing: -0.2px;
}
h5{
  font-size: var(--size-16);
  font-weight: var(--regular);
}
h6{
  font-size: var(--size-15);
  font-weight: var(--regular);
}
p{
  font-size: var(--size-13);
  font-weight: var(--semi-bold);
}

button{
  border-radius: 10px;
  box-sizing: content-box;
  font-size: var(--size-14);
  margin: auto;
  display: block;
  padding: 0.875rem 25px;
}

.purple{
  background-color:var(--AD1FEA-color);
  color: var(--button-text);
}
.purple:hover{
  background-color: #C75AF6;
}

.blue{
  background-color: var(--4661E6-color);
  color: var(--button-text);
}
.blue:hover{
  background-color: #7C91F9;
}

.dark-blue{
  background-color: var(--3A4374-color);
  color: var(--button-text);
}
.dark-blue:hover{
  background-color: #656EA3;
}

.red{
  background-color: #D73737;
  color: var(--button-text);
}
.red:hover{
  background-color: #E98888;
}
