header{
  align-items: center;
  background-image: url('../assets/suggestions/mobile/background-header.png');
  background-position: top right bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.5rem;
  position: relative;
  z-index: 100;
}

