header{
  align-items: center;
  background: #28a7ed;
  background-image: url('../assets/suggestions/mobile/background-header.png');
  background-position: top right bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.5rem;
  position: relative;
  z-index: 100;
}

main{
  height: 89.2065vh;
}