<div class="category-container">
  <div class="center-flex">
    <ul>
      <li>
        <a routerLink="/">
          <input type="radio" name="category" id="category-all" value="0" checked>
          <label for="category-all">
            All
        </label></a>
      </li>
      <li>
        <a href="#">
          <input type="radio" name="category" id="category-ui" value="1">
          <label for="category-ui">
            UI
          </label>
        </a>
      </li>
      <li>
        <a href="#">
          <input type="radio" name="category" id="category-ux" value="2">
          <label for="category-ux">
            UX
          </label>
        </a>
      </li>
      <li>
        <a href="#">
          <input type="radio" name="category" id="category-enhancement" value="3">
          <label for="category-enhancement">
            Enhancement
        </label>
      </a>
        </li>
      <li>
        <a href="#">
          <input type="radio" name="category" id="category-bug" value="4">
          <label for="category-bug">
            Bug
          </label>  
        </a>
        </li>
      <li>
        <a href="#">
          <input type="radio" name="category" id="category-feature" value="5">
          <label for="category-feature">
          Feature
        </label>
      </a>
        </li>
    </ul>
  </div>
</div>
