<div class="category-container">
  <div class="center-flex">
    <ul>
      <li>
        <a>
          <input type="radio" name="category" id="category-all" value="All" [checked]="filter === 'All'" #all>
          <label for="category-all" (click)="filterSelect(all)">
            All
        </label></a>
      </li>
      <li>
        <a>
          <input type="radio" name="category" id="category-ui" value="UI" [checked]="filter === 'UI'"  #ui>
          <label for="category-ui" (click)="filterSelect(ui)">
            UI
          </label>
        </a>
      </li>
      <li>
        <a>
          <input type="radio" name="category" id="category-ux" value="UX" [checked]="filter === 'UX'" #ux>
          <label for="category-ux" (click)="filterSelect(ux)">
            UX
          </label>
        </a>
      </li>
      <li>
        <a>
          <input type="radio" name="category" id="category-enhancement" value="Enhancement" [checked]="filter === 'Enhancement'" #enhancement>
          <label for="category-enhancement" (click)="filterSelect(enhancement)">
            Enhancement
        </label>
      </a>
        </li>
      <li>
        <a>
          <input type="radio" name="category" id="category-bug" value="Bug" [checked]="filter === 'Bug'" #bug>
          <label for="category-bug" (click)="filterSelect(bug)">
            Bug
          </label>  
        </a>
        </li>
      <li>
        <a>
          <input type="radio" name="category" id="category-feature" value="Feature" [checked]="filter === 'Feature'" #feature>
          <label for="category-feature" (click)="filterSelect(feature)">
          Feature
        </label>
      </a>
        </li>
    </ul>
  </div>
</div>
