@media screen and (min-width: 767px) {
  .category-container{
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 0;
    height: 11.125rem;
    width: 13.9375rem;
  }
  .center-flex{
    display: flex;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
  }
}